<p-breadcrumb
  [model]="itemsBreadcrumb"
></p-breadcrumb>

<div class="row">
    <div class="col-12 col-md-6 col-lg-7 pr-0 offset-md-1 text-center">
        <div class="bg-white ml-3 content h-100 first">
            <img width="680px" height="680px" src="{{product?.image + '?v=1'}}" class="img-product"
            alt="Imagen del producto" routerLink="/home/product_detail" appImage />
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 pl-0 pr-0">
        <div class="bg-white purchase content h-100 second">
            <p class="p-info mb-3">Nuevo - 234 vendidos</p>
            <p class="p-tittle">Deco Reverse Sombrero Oxford</p>
            <p class="p-price">
                {{ '$ ' + (product?.price | number :'':'es') }}
                <span class="perc">00</span>  
            </p>
            <app-button class="w-100"
            label="Comprar"
            type="button"
            typeButton="primary"
            ></app-button>
        </div>
    </div>
    <div class="col-12 col-md-10 offset-md-1 pr-0 div-desc">
        <div class="bg-white ml-3 content pt-0 last">
            <p class="p-tittle-product">Descripción del producto</p>
            <p class="p-descr mb-0">The Scape di Bianco Italian footwear collection was founded by Bill White in 2009. Di Bianco
                offers classic handmade men's shoes with a modern twist. The combination of timeless
                models and details with contemporary colors and styling, results in decidedly current, yet,
                elegant models, The aim of the Scarpe di Bianco company is to offer men a custom shoe
                buying experience through a multitude of models, lasts soles, and color options.
            </p>
        </div>
    </div>
</div>